@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    color: #16003a;
}

header.banner {
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Înălțime completă a viewport-ului */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header .header-content h1 {
    font-size: 3em;
    margin-bottom: 10px;
    font-weight: 800;
    color: white;
}

header .subtitle {
    font-size: 1.2em;
    font-weight: 600;
    color: white;
}

section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.section-title {
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 20px;
    color: #16003a;
}

.subsection-title {
    font-size: 1.5em;
    font-weight: 800;
    margin-top: 20px;
    color: #16003a;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #16003a;
    font-weight: 400;
    margin-bottom: 20px;
}

footer {
    background-color: #f5f5f5;
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    color: #16003a;
    margin-top: 40px;
}
